USE [hanu_homeware1]
GO
ALTER TABLE [dbo].[WarrantyDetail] DROP CONSTRAINT [FK_WarrantyDetail_Warranty]
GO
ALTER TABLE [dbo].[WarrantyDetail] DROP CONSTRAINT [FK_WarrantyDetail_StatusProduct]
GO
ALTER TABLE [dbo].[Warranty] DROP CONSTRAINT [FK_Warranty_Seri]
GO
ALTER TABLE [dbo].[Seri] DROP CONSTRAINT [FK_Seri_ReceiptDetail]
GO
ALTER TABLE [dbo].[Seri] DROP CONSTRAINT [FK_Seri_Product]
GO
ALTER TABLE [dbo].[ReceiptDetail] DROP CONSTRAINT [FK_ReceiptDetail_Receipt]
GO
ALTER TABLE [dbo].[Receipt] DROP CONSTRAINT [FK_Receipt_Account]
GO
ALTER TABLE [dbo].[PromotionDetail] DROP CONSTRAINT [FK_PromotionDetail_Promotion]
GO
ALTER TABLE [dbo].[PromotionDetail] DROP CONSTRAINT [FK_PromotionDetail_Product]
GO
ALTER TABLE [dbo].[Promotion] DROP CONSTRAINT [FK_Promotion_Account]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Season]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [FK_InvoiceDetail_Product]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [FK_InvoiceDetail_Invoice]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Shipper]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Account]
GO
ALTER TABLE [dbo].[ImageDetail] DROP CONSTRAINT [FK_ImageDetail_Product]
GO
/****** Object:  Table [dbo].[WarrantyDetail]     ******/
DROP TABLE [dbo].[WarrantyDetail]
GO
/****** Object:  Table [dbo].[Warranty]     ******/
DROP TABLE [dbo].[Warranty]
GO
/****** Object:  Table [dbo].[StatusProduct]     ******/
DROP TABLE [dbo].[StatusProduct]
GO
/****** Object:  Table [dbo].[Shipper]    ******/
DROP TABLE [dbo].[Shipper]
GO
/****** Object:  Table [dbo].[Seri]     ******/
DROP TABLE [dbo].[Seri]
GO
/****** Object:  Table [dbo].[Season]     ******/
DROP TABLE [dbo].[Season]
GO
/****** Object:  Table [dbo].[ReceiptDetail]     ******/
DROP TABLE [dbo].[ReceiptDetail]
GO
/****** Object:  Table [dbo].[Receipt]     ******/
DROP TABLE [dbo].[Receipt]
GO
/****** Object:  Table [dbo].[PromotionDetail]     ******/
DROP TABLE [dbo].[PromotionDetail]
GO
/****** Object:  Table [dbo].[Promotion]     ******/
DROP TABLE [dbo].[Promotion]
GO
/****** Object:  Table [dbo].[Product]     ******/
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    ******/
DROP TABLE [dbo].[InvoiceDetail]
GO
/****** Object:  Table [dbo].[Invoice]     ******/
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[ImageDetail]     ******/
DROP TABLE [dbo].[ImageDetail]
GO
/****** Object:  Table [dbo].[Category]     ******/
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Brand]     ******/
DROP TABLE [dbo].[Brand]
GO
/****** Object:  Table [dbo].[Advertise]     ******/
DROP TABLE [dbo].[Advertise]
GO
/****** Object:  Table [dbo].[Account]     ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  FullTextCatalog [product_ctlg]     ******/
GO
DROP FULLTEXT CATALOG [product_ctlg]
GO
/****** Object:  FullTextCatalog [product_ctlg]     ******/
CREATE FULLTEXT CATALOG [product_ctlg]WITH ACCENT_SENSITIVITY = OFF
AS DEFAULT

GO
/****** Object:  Table [dbo].[Account]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[ID_Account] [varchar](20) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Full_Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Access] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Advertise]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Advertise](
	[ID_Ads] [int] IDENTITY(1,1) NOT NULL,
	[Image_Ads] [varchar](max) NULL,
 CONSTRAINT [PK_Advertise] PRIMARY KEY CLUSTERED 
(
	[ID_Ads] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brand]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[ID_Brand] [varchar](20) NOT NULL,
	[Name_Brand] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Parent_Brand] [varchar](50) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID_Brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[ID_Category] [varchar](20) NOT NULL,
	[Name_Category] [nvarchar](50) NULL,
	[Parent_Category] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImageDetail]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImageDetail](
	[ID_Image] [int] IDENTITY(1,1) NOT NULL,
	[Detail_Image] [varchar](max) NULL,
	[ID_Product] [varchar](20) NULL,
	[Detail_Image1] [varchar](max) NULL,
	[Detail_Image2] [varchar](max) NULL,
 CONSTRAINT [PK_ImageDetail] PRIMARY KEY CLUSTERED 
(
	[ID_Image] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[ID_Invoice] [varchar](20) NOT NULL,
	[ID_Account] [varchar](20) NULL,
	[Shipping_Address] [nvarchar](50) NULL,
	[Payment_Methods] [varchar](50) NULL,
	[Purchase_Date] [datetime] NULL,
	[Status_Order] [int] NULL,
	[Total_Invoice] [int] NULL,
	[ID_Shipper] [int] NULL,
	[ID_Employee] [varchar](20) NULL,
	[Time_Limit] [datetime] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID_Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InvoiceDetail]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[ID_InvoiceDetail] [int] NOT NULL,
	[ID_Invoice] [varchar](20) NULL,
	[ID_Product] [varchar](20) NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL,
	[Sale] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_InvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[ID_InvoiceDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID_Product] [varchar](20) NOT NULL,
	[ID_Category] [varchar](20) NULL,
	[Name_Product] [nvarchar](50) NULL,
	[Image] [varchar](max) NULL,
	[Quantity] [int] NULL,
	[Describe] [nvarchar](200) NULL,
	[Price] [int] NULL,
	[Sale] [int] NULL,
	[ID_Brand] [varchar](20) NULL,
	[Warranty_Period] [int] NULL,
	[ID_Season] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Promotion]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Promotion](
	[ID_Promotion] [int] NOT NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[ID_Account] [varchar](20) NULL,
	[Reason] [nvarchar](100) NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[ID_Promotion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PromotionDetail]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PromotionDetail](
	[ID_Product] [varchar](20) NOT NULL,
	[ID_Promotion] [int] NULL,
	[Sale] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Receipt]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Receipt](
	[ID_Receipt] [int] NOT NULL,
	[ID_Account] [varchar](20) NULL,
	[Created_date] [datetime] NULL,
	[total] [int] NULL,
 CONSTRAINT [PK_Receipt_1] PRIMARY KEY CLUSTERED 
(
	[ID_Receipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReceiptDetail]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReceiptDetail](
	[ID_ReceiptDetail] [int] NOT NULL,
	[ID_Product] [varchar](50) NULL,
	[ID_Receipt] [int] NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ID_ReceiptDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Season]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[ID_Season] [int] NOT NULL,
	[Name_Season] [nvarchar](50) NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
 CONSTRAINT [PK_Season] PRIMARY KEY CLUSTERED 
(
	[ID_Season] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seri]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seri](
	[id_seri] [int] NOT NULL,
	[Status_Seri] [int] NULL,
	[ID_Product] [varchar](20) NULL,
	[ID_ReceiptDetail] [int] NULL,
	[ID_InvoiceDetail] [int] NULL,
 CONSTRAINT [PK_Seri] PRIMARY KEY CLUSTERED 
(
	[id_seri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shipper]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shipper](
	[ID_Shipper] [int] NOT NULL,
	[Name_Shipper] [nvarchar](50) NULL,
	[Phone_Shipper] [varchar](50) NULL,
	[Company_Shipper] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[ID_Shipper] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StatusProduct]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusProduct](
	[ID_StatusProduct] [int] NOT NULL,
	[Name_Status] [nvarchar](50) NULL,
	[Repair_Time] [int] NULL,
 CONSTRAINT [PK_StatusProduct] PRIMARY KEY CLUSTERED 
(
	[ID_StatusProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warranty]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warranty](
	[ID_Warranty] [int] NOT NULL,
	[Received_Date] [date] NULL,
	[Return_Date] [date] NULL,
	[Intend_Time] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[id_seri] [int] NULL,
 CONSTRAINT [PK_Warranty] PRIMARY KEY CLUSTERED 
(
	[ID_Warranty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WarrantyDetail]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyDetail](
	[ID_Warranty] [int] NULL,
	[ID_StatusProduct] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([ID_Account], [Username], [Password], [Email], [Full_Name], [Address], [SDT], [Access], [Status]) VALUES (N'AD101', N'admin', N'e1adc3949ba59abbe56e057f2f883e', N'nguyenleminhhieu1997@gmail.com', N'Nguyễn Lê Thế Hai', N'Ha Noi', N'0386300021', 1, 1)
INSERT [dbo].[Account] ([ID_Account], [Username], [Password], [Email], [Full_Name], [Address], [SDT], [Access], [Status]) VALUES (N'KH102', N'minhhieuclient', N'95ec2e295d99fa60fbb1e245175a25', N'nguyenleminhhieu20217@gmail.com', N'Hai Nguyễn Lê 1 ', N'Ha Noi ', N'0386300021', 2, 1)
INSERT [dbo].[Account] ([ID_Account], [Username], [Password], [Email], [Full_Name], [Address], [SDT], [Access], [Status]) VALUES (N'KH1224276057757037', N'HieuNgo', N'e1adc3949ba59abbe56e057f2f883e', N'nguyenleminhhieu97@gmail.com', N'Thế Tuan', N'Ha Noi', N'0386300021', 2, 1)
SET IDENTITY_INSERT [dbo].[Advertise] ON 

INSERT [dbo].[Advertise] ([ID_Ads], [Image_Ads]) VALUES (1, N'images/home/gioithieu4.jpg')
INSERT [dbo].[Advertise] ([ID_Ads], [Image_Ads]) VALUES (2, N'images/home/gioithieu5.jpg')
INSERT [dbo].[Advertise] ([ID_Ads], [Image_Ads]) VALUES (3, N'images/home/gioithieu6.jpg')
SET IDENTITY_INSERT [dbo].[Advertise] OFF
INSERT [dbo].[Brand] ([ID_Brand], [Name_Brand], [Country], [Parent_Brand]) VALUES (N'', NULL, NULL, NULL)
INSERT [dbo].[Brand] ([ID_Brand], [Name_Brand], [Country], [Parent_Brand]) VALUES (N'NH', N'NHÃN HIỆU', NULL, N'null')
INSERT [dbo].[Brand] ([ID_Brand], [Name_Brand], [Country], [Parent_Brand]) VALUES (N'NH1', N'SUNHOUSE', NULL, N'NH')
INSERT [dbo].[Category] ([ID_Category], [Name_Category], [Parent_Category]) VALUES (N'DCNB', N'Dụng Cụ Nhà Bếp', N'GD')
INSERT [dbo].[Category] ([ID_Category], [Name_Category], [Parent_Category]) VALUES (N'DDGD', N'Đồ Điện Gia Đình', N'GD')
INSERT [dbo].[Category] ([ID_Category], [Name_Category], [Parent_Category]) VALUES (N'GD', N'Đồ Gia Dụng', N'null')
SET IDENTITY_INSERT [dbo].[ImageDetail] ON 

INSERT [dbo].[ImageDetail] ([ID_Image], [Detail_Image], [ID_Product], [Detail_Image1], [Detail_Image2]) VALUES (1, N'images/chitietsp/bep1a.jpg', N'121', N'images/chitietsp/bep1b.jpg', N'images/chitietsp/bep1c.png')
INSERT [dbo].[ImageDetail] ([ID_Image], [Detail_Image], [ID_Product], [Detail_Image1], [Detail_Image2]) VALUES (2, N'images/chitietsp/bep2a.jpg', N'120', N'images/chitietsp/bep2b.jpg', N'images/chitietsp/bep2c.jpg')
INSERT [dbo].[ImageDetail] ([ID_Image], [Detail_Image], [ID_Product], [Detail_Image1], [Detail_Image2]) VALUES (3, N'images/chitietsp/bep3a.png', N'119', N'images/chitietsp/bep3b.jpg', N'images/chitietsp/bep3c.jpg')
SET IDENTITY_INSERT [dbo].[ImageDetail] OFF

INSERT [dbo].[Invoice] ([ID_Invoice], [ID_Account], [Shipping_Address], [Payment_Methods], [Purchase_Date], [Status_Order], [Total_Invoice], [ID_Shipper], [ID_Employee], [Time_Limit]) VALUES (N'MHD1576770632821', N'KH1224276057757037', N'Ha Noi', N'Thanh toán khi giao hàng', CAST(N'2021-02-19 22:50:32.847' AS DateTime), 3, 118000, 1, N'KH1576290996940', CAST(N'2021-02-22 00:00:00.000' AS DateTime))
INSERT [dbo].[Invoice] ([ID_Invoice], [ID_Account], [Shipping_Address], [Payment_Methods], [Purchase_Date], [Status_Order], [Total_Invoice], [ID_Shipper], [ID_Employee], [Time_Limit]) VALUES (N'MHD1577021757740', N'KH1224276057757037', N'Ha Noi', N'Thanh toán khi giao hàng', CAST(N'2021-02-22 20:35:57.767' AS DateTime), 2, 1750000, 1, N'0', CAST(N'2021-02-25 00:00:00.000' AS DateTime))

INSERT [dbo].[InvoiceDetail] ([ID_InvoiceDetail], [ID_Invoice], [ID_Product], [Quantity], [Price], [Sale], [Total]) VALUES (5032099, N'MHD1574954127994', N'123', 1, 1000, 0, 1000)
INSERT [dbo].[InvoiceDetail] ([ID_InvoiceDetail], [ID_Invoice], [ID_Product], [Quantity], [Price], [Sale], [Total]) VALUES (13731817, N'MHD1576426822039', N'112', 1, 950000, 0, 950000)
INSERT [dbo].[InvoiceDetail] ([ID_InvoiceDetail], [ID_Invoice], [ID_Product], [Quantity], [Price], [Sale], [Total]) VALUES (24318360, N'MHD1574953654662', N'123', 1, 1000, 0, 1000)
INSERT [dbo].[Product] ([ID_Product], [ID_Category], [Name_Product], [Image], [Quantity], [Describe], [Price], [Sale], [ID_Brand], [Warranty_Period], [ID_Season]) VALUES (N'101', N'VDTN', N'Bàn ủi hơi nước cao cấp Philips GC2990', N'images/sanpham/giadinh1.jpg', 17, N'Nhiếu chế độ phun hơi nước cho phép ủi được nhiều loại quần áo. Dung tích lớn 320ml giúp ủi quần áo lâu hơn', 590000, 100000, N'NH5', 1, 1)
INSERT [dbo].[Product] ([ID_Product], [ID_Category], [Name_Product], [Image], [Quantity], [Describe], [Price], [Sale], [ID_Brand], [Warranty_Period], [ID_Season]) VALUES (N'102', N'VDTN', N'Ấm Siêu Tốc Goldsun', N'images/sanpham/giadinh3.jpg', 12, N'Ấm siêu tốc GS EK- GBB1218S1 với vỏ ngoài sản phẩm được làm bằng Inox sáng bóng và chống rỉ mang đến sự an toàn khi sử dụng cho người dùng. ', 118000, 0, N'NH7', 1, 2)
INSERT [dbo].[Product] ([ID_Product], [ID_Category], [Name_Product], [Image], [Quantity], [Describe], [Price], [Sale], [ID_Brand], [Warranty_Period], [ID_Season]) VALUES (N'103', N'VDTN', N'Bộ lau nhà 360 có bánh xe DMX-X6', N'images/sanpham/giadinh4.jpg', 5, N'Đầu lau xoay 360 độ, di chuyển nhẹ nhàng. Thùng chứa nước bằng nhựa cao cấp, có tay xách, có bánh xe tiện di chuyển.', 200000, 100000, N'NH7', 1, 3)
INSERT [dbo].[Promotion] ([ID_Promotion], [DateStart], [DateEnd], [ID_Account], [Reason]) VALUES (1, CAST(N'2021-04-19 00:00:00.000' AS DateTime), CAST(N'2021-04-28 00:00:00.000' AS DateTime), N'AD101', N'KHUYẾN MÃI NGÀY NHÀ GIÁO')
INSERT [dbo].[Promotion] ([ID_Promotion], [DateStart], [DateEnd], [ID_Account], [Reason]) VALUES (2, CAST(N'2021-02-10 00:00:00.000' AS DateTime), CAST(N'2021-02-25 00:00:00.000' AS DateTime), N'AD101', N'KHUYẾN MÃI DỊP GIÁNG SINH')
INSERT [dbo].[PromotionDetail] ([ID_Product], [ID_Promotion], [Sale]) VALUES (N'101', 2, 10)
INSERT [dbo].[Receipt] ([ID_Receipt], [ID_Account], [Created_date], [total]) VALUES (1, N'AD101', CAST(N'2021-04-12 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Receipt] ([ID_Receipt], [ID_Account], [Created_date], [total]) VALUES (2, N'AD101', CAST(N'2021-04-12 00:00:00.000' AS DateTime), 500000)
INSERT [dbo].[Receipt] ([ID_Receipt], [ID_Account], [Created_date], [total]) VALUES (3, N'AD101', CAST(N'2021-04-12 00:00:00.000' AS DateTime), 2000000)
INSERT [dbo].[ReceiptDetail] ([ID_ReceiptDetail], [ID_Product], [ID_Receipt], [Price], [Quantity]) VALUES (326, N'102', 2, 100000, 2)
INSERT [dbo].[ReceiptDetail] ([ID_ReceiptDetail], [ID_Product], [ID_Receipt], [Price], [Quantity]) VALUES (367, N'117', 6, 300000, 10)
INSERT [dbo].[ReceiptDetail] ([ID_ReceiptDetail], [ID_Product], [ID_Receipt], [Price], [Quantity]) VALUES (946, N'110', 6, 1000000, 4)
INSERT [dbo].[Season] ([ID_Season], [Name_Season], [DateStart], [DateEnd]) VALUES (1, N'Mùa Tết', CAST(N'2021-04-01 00:00:00.000' AS DateTime), CAST(N'2021-04-09 00:00:00.000' AS DateTime))
INSERT [dbo].[Season] ([ID_Season], [Name_Season], [DateStart], [DateEnd]) VALUES (2, N'Mùa Đông', CAST(N'2021-04-11 00:00:00.000' AS DateTime), CAST(N'2021-02-30 00:00:00.000' AS DateTime))
INSERT [dbo].[Season] ([ID_Season], [Name_Season], [DateStart], [DateEnd]) VALUES (3, N'Mùa Hè', CAST(N'2021-04-04 00:00:00.000' AS DateTime), CAST(N'2021-04-06 00:00:00.000' AS DateTime))
INSERT [dbo].[Seri] ([id_seri], [Status_Seri], [ID_Product], [ID_ReceiptDetail], [ID_InvoiceDetail]) VALUES (98, 1, N'123', NULL, 5032099)
INSERT [dbo].[Seri] ([id_seri], [Status_Seri], [ID_Product], [ID_ReceiptDetail], [ID_InvoiceDetail]) VALUES (99, 1, N'123', NULL, 24318360)
INSERT [dbo].[Seri] ([id_seri], [Status_Seri], [ID_Product], [ID_ReceiptDetail], [ID_InvoiceDetail]) VALUES (100, 1, N'123', NULL, 39844292)
GO
INSERT [dbo].[Shipper] ([ID_Shipper], [Name_Shipper], [Phone_Shipper], [Company_Shipper]) VALUES (1, N'Nguyễn Văn Tí', N'0389111010', N'TS Homeware')
INSERT [dbo].[Shipper] ([ID_Shipper], [Name_Shipper], [Phone_Shipper], [Company_Shipper]) VALUES (2, N'Nguyễn Văn Tèo', N'0389111012', N'TS Homeware')
INSERT [dbo].[Shipper] ([ID_Shipper], [Name_Shipper], [Phone_Shipper], [Company_Shipper]) VALUES (3, N'Nguyễn Thị Sửu', N'0389111018', N'TS Homeware')
INSERT [dbo].[StatusProduct] ([ID_StatusProduct], [Name_Status], [Repair_Time]) VALUES (1, N'Hư pin', 3)
INSERT [dbo].[StatusProduct] ([ID_StatusProduct], [Name_Status], [Repair_Time]) VALUES (2, N'Không vô điện', 3)
INSERT [dbo].[StatusProduct] ([ID_StatusProduct], [Name_Status], [Repair_Time]) VALUES (3, N'Không hoạt động được', 3)
INSERT [dbo].[Warranty] ([ID_Warranty], [Received_Date], [Return_Date], [Intend_Time], [Status], [id_seri]) VALUES (3258, CAST(N'2021-02-14' AS Date), CAST(N'2021-02-17' AS Date), N'3', 1, 123)
INSERT [dbo].[Warranty] ([ID_Warranty], [Received_Date], [Return_Date], [Intend_Time], [Status], [id_seri]) VALUES (10797, CAST(N'2021-02-13' AS Date), CAST(N'2021-02-16' AS Date), N'3', 4, 124)
INSERT [dbo].[Warranty] ([ID_Warranty], [Received_Date], [Return_Date], [Intend_Time], [Status], [id_seri]) VALUES (98140, CAST(N'2021-02-14' AS Date), CAST(N'2021-02-17' AS Date), N'3', 2, 126)
INSERT [dbo].[WarrantyDetail] ([ID_Warranty], [ID_StatusProduct]) VALUES (3258, 3)
INSERT [dbo].[WarrantyDetail] ([ID_Warranty], [ID_StatusProduct]) VALUES (10797, 2)
INSERT [dbo].[WarrantyDetail] ([ID_Warranty], [ID_StatusProduct]) VALUES (214368, 4)
ALTER TABLE [dbo].[ImageDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetail_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImageDetail] CHECK CONSTRAINT [FK_ImageDetail_Product]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Account]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Shipper] FOREIGN KEY([ID_Shipper])
REFERENCES [dbo].[Shipper] ([ID_Shipper])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Shipper]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Invoice] FOREIGN KEY([ID_Invoice])
REFERENCES [dbo].[Invoice] ([ID_Invoice])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Invoice]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([ID_Brand])
REFERENCES [dbo].[Brand] ([ID_Brand])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ID_Category])
REFERENCES [dbo].[Category] ([ID_Category])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Season] FOREIGN KEY([ID_Season])
REFERENCES [dbo].[Season] ([ID_Season])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Season]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_Promotion_Account]
GO
ALTER TABLE [dbo].[PromotionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetail_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[PromotionDetail] CHECK CONSTRAINT [FK_PromotionDetail_Product]
GO
ALTER TABLE [dbo].[PromotionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PromotionDetail_Promotion] FOREIGN KEY([ID_Promotion])
REFERENCES [dbo].[Promotion] ([ID_Promotion])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PromotionDetail] CHECK CONSTRAINT [FK_PromotionDetail_Promotion]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Account]
GO
ALTER TABLE [dbo].[ReceiptDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetail_Receipt] FOREIGN KEY([ID_Receipt])
REFERENCES [dbo].[Receipt] ([ID_Receipt])
GO
ALTER TABLE [dbo].[ReceiptDetail] CHECK CONSTRAINT [FK_ReceiptDetail_Receipt]
GO
ALTER TABLE [dbo].[Seri]  WITH CHECK ADD  CONSTRAINT [FK_Seri_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Seri] CHECK CONSTRAINT [FK_Seri_Product]
GO
ALTER TABLE [dbo].[Seri]  WITH CHECK ADD  CONSTRAINT [FK_Seri_ReceiptDetail] FOREIGN KEY([ID_ReceiptDetail])
REFERENCES [dbo].[ReceiptDetail] ([ID_ReceiptDetail])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Seri] CHECK CONSTRAINT [FK_Seri_ReceiptDetail]
GO
ALTER TABLE [dbo].[Warranty]  WITH CHECK ADD  CONSTRAINT [FK_Warranty_Seri] FOREIGN KEY([id_seri])
REFERENCES [dbo].[Seri] ([id_seri])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Warranty] CHECK CONSTRAINT [FK_Warranty_Seri]
GO
ALTER TABLE [dbo].[WarrantyDetail]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyDetail_StatusProduct] FOREIGN KEY([ID_StatusProduct])
REFERENCES [dbo].[StatusProduct] ([ID_StatusProduct])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WarrantyDetail] CHECK CONSTRAINT [FK_WarrantyDetail_StatusProduct]
GO
ALTER TABLE [dbo].[WarrantyDetail]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyDetail_Warranty] FOREIGN KEY([ID_Warranty])
REFERENCES [dbo].[Warranty] ([ID_Warranty])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WarrantyDetail] CHECK CONSTRAINT [FK_WarrantyDetail_Warranty]
GO
